@font-face { font-family: Samsung Sharp Sans; src: url('../fonts/Font1.otf'); } 
@font-face { font-family: LED Dot-Matrix; src: url('../fonts/LED Dot-Matrix 400.ttf'); } 
body{
	background-color: black;
	color: white;
	font-family: LED Dot-Matrix;
	overflow-x: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html{
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	opacity: 1;
	background: black; 
	border-radius: 0% 0% 0% 0%;
}

::-webkit-scrollbar-thumb {
	background: black; 
	border: 2px solid;
	border-radius: 1px;
	border-color: rgba(255, 255, 255, 1);
	border-radius: 0% 0% 0% 0%;
}

@media (max-width: 500px) {
::-webkit-scrollbar {
	display: none;
	width: 0px;
}

::-webkit-scrollbar-track {
	display: none;
	opacity: 0;
	background: black; 
	border-radius: 0% 0% 0% 0%;
}

::-webkit-scrollbar-thumb {
	display: none;
	background: black; 
	border: 0px solid;
	border-radius: 0px;
	border-color: rgba(255, 255, 255, 1);
	border-radius: 0% 0% 0% 0%;
}
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	color: white;
	text-decoration: underline;
}