.draggable {
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
  cursor: pointer;
  transition: 0.5s;
  top:0px;
  left: 0px;
}

.draggable:hover{
  transition: 0s;
}

.obstacle {
  width: 100px;
  height: 100px;
  background: blue;
  position: absolute;
  top: 0px;
  left: 0px;
}
.obstacle0 {
  width: 100px;
  height: 100px;
  background: none;
  position: absolute;
  top: 0px;
  left: 0px;
}
#content_gen{
  display: flex;
}
.button {
  /* margin-top: 200px; */
}

.btns_c{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btn_l{
  width: 50px;
height: 50px;
position: absolute;
right: 100px;
bottom: 50px;
rotate: -90deg;
}

.btn_r{
  width: 50px;
height: 50px;
position: absolute;
bottom: 50px;
right: 0px;
rotate: 90deg;
}

.btn_t{
  width: 50px;
height: 50px;
position: absolute;
bottom: 100px;
right: 50px;
}

.btn_b{
  width: 50px;
height: 50px;
position: absolute;
bottom: 0px;
right: 50px;
rotate: 180deg;
}

.btn_style{
  background-color: gray;
  border-radius: 10px;
  border: 2px solid rgb(92, 92, 92);
  transition: 0.4s;
  cursor: crosshair;
}

.btn_style:hover{
  background-color: rgb(91, 91, 91);
border: 2px solid rgb(180, 180, 180);
}

.btn_style:active{
  background-color: rgb(255, 91, 91);
border: 2px solid rgb(180, 180, 180);
}

svg{
  width: 20px;
  height: 20px;
}

body{
  background: black;
  margin: 0px;
  scroll-behavior: smooth;
  font-family: arial;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
color: white;
}

header{
  /* width: 100%; */
  background: rgba(0, 0, 0, 0.27);
  border: 2px solid #2A2A2A;
  border-radius: 20px;
  margin: 10px;
/* margin-left: 5px; */
overflow-y: auto;
position: relative;
-webkit-backdrop-filter: blur(90px);
backdrop-filter: blur(90px);
margin-top: 0px;
}

.content{
  background: url('/inc/mouse/bg_d.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 10px;
}

h1{
  font-size: 3em;
}

.header{
  padding-top: 3em;
  padding-bottom: 3em;
  /* background-color: #F9F9F9; */
  /* background: linear-gradient(gray, gray 35%, rgba(0, 0, 0, 0)) */
}

.h1{
  display: flex;
  flex-direction: row;
  width: 100%;

}

.regular_btn{
  position: relative;
  display: flex;
    color: white;
    background: rgba(51, 51, 51, 0.25);
    border-radius: 10px;
    margin: 10px;
/* padding-top: 10px;
padding-bottom: 10px; */
transition: 0.4s;
justify-content: center;
justify-items: center;
white-space: nowrap;
overflow: hidden;
border: 2px solid rgba(73, 73, 73, 0.25);
width: 100%;
}

.regular_btn1{
  display: flex;
  height: 100%;
  width: 0%;
  /* background: rgba(59, 0, 0, 0.49);; */
  background: linear-gradient(to right, rgba(73, 73, 73, 0), rgba(73, 73, 73, 0.5) 50%, rgba(73, 73, 73, 0));
  position: relative;
  transition: width 0.3s, background 14s;
  /* margin: auto; */
  /* text-align: center; */
  flex-wrap: nowrap;
  justify-content: center;
  justify-items: center;

}

.regular_btn2{
  display: flex;
  height: 100%;
  width: 0%;
  /* background: rgba(59, 0, 0, 0.49);; */
  background: linear-gradient(to right, rgba(27, 27, 37, 0), rgba(51, 51, 51, 0.5) 50%, rgba(27, 27, 27, 0));
  position: relative;
  transition: width 0.3s, background 14s;
  /* margin: auto; */
  /* text-align: center; */
  flex-wrap: nowrap;
  justify-content: center;
  justify-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

}

.regular_btn:hover{
    /* background: rgba(128, 128, 128, 0.25); */
    border: 2px solid white;

    cursor: crosshair;
}

.regular_btn:hover .regular_btn1{
  width: 100%;
  background: linear-gradient(to right, rgba(73, 73, 73, 0.5), rgba(73, 73, 73, 0.5) 50%, rgba(73, 73, 73, 0.5));
  transition: width 0.3s, background 14s;

}

.regular_btn:active .regular_btn2{
  width: 100%;
  background: linear-gradient(to right, rgba(27, 27, 37, 0.25), rgba(51, 51, 51, 0.5) 50%, rgba(27, 27, 27, 0.25));
  transition: width 0.3s, background 14s;

}

.light1{
  position:absolute;
  left: 30%;
  right: 30%;
  height: 10px;
  background:white;
  top:0px;
  border-radius: 0px 0px 999px 999px;
}
.light2{
  position: absolute;
  left: 20%;
  right: 20%;
  height: 100%;
  /* background: white; */
  background: radial-gradient(circle, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0) 90%);
  top: -50%;
  border-radius: 0px 0px 999px 999px;
  opacity: 0.4;
filter: blur(25px);
-webkit-filter: blur(25px);
}

.light3{
  position: absolute;
  left: 20%;
  right: 20%;
  height: 100%;
  /* background: white; */
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
  top: -50%;
  border-radius: 0px 0px 999px 999px;
  opacity: 0;
filter: blur(15px);
-webkit-filter: blur(15px);
}
