.jumbo {
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 10%, rgba(255,255,255,1) 20%, rgba(0,0,0,1) 30%, rgba(255,255,255,1) 40%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 60%, rgba(0,0,0,1) 70%, rgba(255,255,255,1) 80%, rgba(0,0,0,1) 90%, rgba(255,255,255,1) 100%);
   width: 150px;
   height: 150px;
/*   rotate: -70deg;*/
}

.f1{
  width:150px; height: 150px; rotate: 0deg;
   mix-blend-mode: color; position: absolute; z-index: 2; scale: 1; justify-items: center; justify-content: center; align-content: center; align-items:center; display: flex;
   border-radius: 999px;
}