
/* Стили для темной темы */
@media (prefers-color-scheme: dark) {
  html {
  scroll-behavior: smooth;
}

  body {
/**/
  }::selection {
color: black;
background: #ffffff;
}

a{
  color: white;
}

.blurpin{
color: white;
background-color: rgba(0, 0, 0, 0.2);
}

.pin-btn2{
    background:rgba(0, 0, 0, 0.5);
color: white;
}

.panel{
  background:rgba(37, 37, 37, 0.5);
}

.pin-btn{
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.pin-btn:hover{
  background-color: rgba(125, 125, 125, 0.5);
  color: white;
}

.pin-btn1{
color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.pin-btn1:active{
color: white;
  background-color: rgba(125, 125, 125, 0.5);
}

.logo-pin{
  background-image: url('../img/logod.png');
}

.pin-btn3{
  fill: white;
}

.pin-btn4{
  /* fill: white; */
  stroke:white;
}

  .page1_bg{
background-color: #070707;
background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 55%), url("../img/mainbgd.jpg");
}

.page{
background-color: #070707;
}

.h2{
  color: #949494;
}

.DB{
  background-color: #1D1D1D;
  border: 1px solid #434343;
  color: white;
transition: all .5s cubic-bezier(.165, .84, .44, 1);
}

.DB:hover{
  background-color: #2B2B2B;
  color: white;
}

.DB1{
  color: white;
transition: all .5s cubic-bezier(.165, .84, .44, 1);
stroke: white;
}

.DB1:hover{
  color: white;
  text-decoration: underline;
}



/* Стилизация скроллбара */
::-webkit-scrollbar {
  width: 15px; /* ширина вертикального скроллбара */
  height: 12px; /* высота горизонтального скроллбара */
}

::-webkit-scrollbar-track {
  background: #070707; /* цвет дорожки скроллбара */
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #1D1D1D; /* цвет самого скроллбара */
  border-radius: 0px; /* скругленные углы */
  border: 3px solid white; /* граница вокруг скроллбара */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2B2B2B; /* цвет скроллбара при наведении */
}


.brend_container{
  background-color: #191919;
}

.brend_container_bg{
  background-color: white;
}

.brend_container_img{
  background-color: black;
  box-shadow: 0 0 8px white;
}

.brend_container:hover .brend_container_img{
  box-shadow: 0 0 30px white;
}

.cont_req{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 55%), url('../img/mainbgd.jpg');
}

.q_t{
/*  background-color: #191919;*/
  border: 2px solid none;
}

.q_t1{
  background-color: #191919;
  text-align: left;
  border: 2px solid black;
}

/* lang menu */

.custom-select-wrapper {
  position: relative;
  user-select: none;
  /* width: 200px; */
  margin-left: 1rem;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 22px; */
  /* font-size: 20px; */
  color: #3a3a3a;
  /* height: 60px; */
  /* line-height: 60px; */
  /* background-color: #ffffff; */
  border-radius: 4px;
  cursor: pointer;
  /* border: 1px solid #d5d5d5; */

gap: 8px;

  color: white;
width: auto;
padding: 8px;
background-color: rgba(0, 0, 0, 0.5);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
border-radius: 6px;
font-size: 1rem;
transition: 0.4s;
text-transform: uppercase;
text-decoration: none;
}

.custom-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
gap: 8px;
  /* border: 1px solid #d5d5d5; */
  border-radius: 4px;
  /* background-color: #ffffff; */
  padding: 8px;
  z-index: 2;
  margin-top: 1rem;
}

.custom-option {
  display: flex;
  padding: 8px;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  /* line-height: 40px; */
  cursor: pointer;
  transition: 0.4s;
  justify-content: center;
}

.custom-option:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-select.open .custom-options {
  display: flex;
  flex-direction: column;
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: 0.4s;
}

.custom-select.open .arrow {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transition: 0.4s;
}

#clear-lang{
  display: flex;
  transition: 0.4s;
  border: 4px solid rgb(198, 0, 0);
  color: rgb(198, 0, 0);
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  opacity: 0.5;
  background: rgba(198, 0, 0, 0.22);
  justify-content: center;
}

#clear-lang:hover{
opacity: 1;
background: rgba(198, 0, 0, 0.27);
}

}



@keyframes initialLoadAnimation {
    from {
      opacity: 0;
        transform: translate3d(0px, 3rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }
    to {
      opacity: 1;
        transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }
}

.h1, .h2, .horizon, .h1-1 {
      opacity: 0;
    animation: initialLoadAnimation 1s forwards;
    transform-style: preserve-3d;
}


.pinned{
  display: inline-flex;
  flex-direction: row;
  position: fixed;
  left: 2rem;
  right: 2rem;
  top: 2rem;
  width: auto;
/*  max-width: 80rem;*/
/*  background-color: red;*/
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 9999999999999999;
}



.namet-pin{
  margin-left: 0.5rem;
/*padding-left: 3px;
border-radius: 4px;*/
}





@media screen and (max-width: 767px)
{
  .pin-btn1{
    display: flex;
  }
  .pin-btn{
    display: none;
  }

.pinned{
  top: 1rem;
  left: 1rem;
  right: 1rem;
}

  body{
    line-height: 1;
  }

.h1-1{
  font-size: 1.5rem;
}

  .h1 {
font-size: 1.3rem;
    line-height: 1.2;
}
  .h2 {
font-size: 0.8rem;
  margin-top: 0.5rem;
  max-width: 100%;
}
.page1-padding{
  padding-left: 1rem;
padding-right: 1rem;
position: relative;
}

.DB{
  font-size: 0.8rem;
}

.DB1{
  font-size: 0.8rem;
/*  gap: 0.8rem;*/
margin-left: 0.8rem;
}

.horizon{
/*  gap: 1.6rem;*/
  margin-top: 1.2rem;

}

.page1{
/*     animation: moveBackground1 10s ease-in-out infinite;*/
}


.pad{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.q_t1{
  margin-bottom: 1rem;
}

.m3{
  margin-top: 2rem;
}

#questions{
  margin-top: 2rem;
}

.brend_container0{
  flex-wrap: wrap;
  flex-direction: column;
justify-content: center;
justify-items: center;
align-content: center;
align-items: center;
}

.brend_container_img{
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.h1_1{
  line-height: 120%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.brend_container{
   padding-left: 1rem;
padding-right: 1rem;
}

.brend_container1{
  width: 100%;
}

.brend_container_img{
  width: 100%;
  border-radius: 0px;
}

.jumbo{
  width: 100%;
rotate: 0deg;
}

.f1{
  rotate: 0deg;
  width: 100%;
  border-radius: 0px;
}

#debug_menu{
  display: none;
}

}

}






/*@media screen and (max-width: 479px){
  .h1 {
font-size: 1.5rem;
}
}*/
