.jumbo {
  background: linear-gradient(45deg, rgba(175,175,175,1) 0%, rgba(89,89,89,1) 35%, rgba(185,185,185,1) 100%);
    /* --stripes: repeating-linear-gradient(
        100deg,
        #fff 0%,
        #fff 7%,
        transparent 10%,
        transparent 12%,
        #fff 16%
    );
    --stripesDark: repeating-linear-gradient(
        100deg,
        #000 0%,
        #000 7%,
        transparent 10%,
        transparent 12%,
        #000 16%
    );
    --rainbow: repeating-linear-gradient(
        100deg,
        #60a5fa 10%,
        #e879f9 15%,
        #60a5fa 20%,
        #5eead4 25%,
        #60a5fa 30%
    );
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;

    filter: blur(10px) invert(100%); */

/*    mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);*/

    /* pointer-events: none;
   animation: jumbo 30s ease-in-out infinite; */
   width: 150px;
   height: 150px;
   rotate: -70deg;
}

/* .jumbo::after { */
    /* content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: jumbo 30s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference; */
/* } */

/* .dark .jumbo {
    background-image: var(--stripesDark), var(--rainbow);
    filter: blur(10px) opacity(50%) saturate(200%); */
/* } */
/* .dark .jumbo::after {
    background-image: var(--stripesDark), var(--rainbow);
} */

/* @keyframes jumbo {
    from {
        background-position: 50% 50%, 50% 50%;
    }
    to {
        background-position: 350% 50%, 350% 50%;
    }
} */

.f1{
  width:150px; height: 150px; rotate: 70deg;
   mix-blend-mode: color; position: absolute; z-index: 2; scale: 2; justify-items: center; justify-content: center; align-content: center; align-items:center; display: flex;
   border-radius: 999px;
}

@media (prefers-color-scheme: dark) {

.jumbo{
background: linear-gradient(45deg, rgba(111,111,111,1) 0%, rgba(36,36,36,1) 35%, rgba(108,108,108,1) 100%);

}

}
