.a0{
  background-image: url('../img/logol.png');
}

.a1{
  background-image: url('../img/Numeralogic_l.ico');
}

.a2{
  background-image: url('../img/web-master_l.png');
}

.a3{
  background-image: url('../img/xn1ght_l.png');
}

.a4{
  background-image: url('../img/as_l.png');
}

.a5{
  background-image: url('/inc/img/AX_L_d.png');
}
