@media (prefers-color-scheme: dark) {
.a0{
  background-image: url('/inc/img/logod.png');
}

.a1{
  background-image: url('/inc/img/Numeralogic_d.ico');
}

.a2{
  background-image: url('/inc/img/web-master_d.png');
}

.a3{
  background-image: url('/inc/img/xn1ght_d.png');
}

.a4{
  background-image: url('/inc/img/as_d.png');
}

.a5{
  background-image: url('/inc/img/AX_L_l.png');
}


}
